html,body{
    background-color: rgb(245, 245, 245);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main{
    width: 30%;
    
    text-align: center;
    margin: 0 34%;
}
h1{
    
    
}
h2{
    
}

/* Balance */
.my-balance{
      text-align: left;
      
}


/* Income - Expense */
.Finance-tracker{
    display: flex;
    justify-content: space-evenly;
    
    
    
}
.income p span{
    color:black
    (17, 243, 17);
}
.expense p span{
    color:black;
}

/* History */
#history{
    text-align: left;
    display: flex;
    flex-direction: column;
}

.cancel-entry{
    visibility: hidden;
}




/* New Transaction Window */
.new-transcation-window{
    text-align: left;
    display: flex;
    flex-direction: column;
}

.new-transcation-window input{
    width: 90%;
    font-size: 1.1rem;
    height: 2rem;
    padding: 0 1em;
    margin: 1em 0;
    border: 1px solid rgb(207, 207, 207);
}

#submit{
    width: 90%;
    background-color: rgb(65, 170, 189);
    color: aliceblue;
    text-align: center;
    padding: 1em 1em;
    cursor: pointer;
}

